name: Update Homey App Version
on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        required: true
        default: patch
        options: [major, minor, patch]
      changelog:
        type: string
        required: true

permissions:
  contents: write

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update Homey App Version
        uses: athombv/github-action-homey-app-version@master
        id: update_app_version
        with:
          version: ${{ inputs.version }}
          changelog: ${{ inputs.changelog }}

      - name: Commit, tag & push
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add -A
          git commit -m "Release v${{ steps.update_app_version.outputs.version }}"
          git tag "v${{ steps.update_app_version.outputs.version }}"

          # push naar dezelfde branch die je workflow start
          git push origin "HEAD:${GITHUB_REF_NAME}" --tags

          # release notes: kies OF generate-notes, OF eigen notes
          gh release create "v${{ steps.update_app_version.outputs.version }}" \
            -t "v${{ steps.update_app_version.outputs.version }}" \
            --notes "${{ inputs.changelog }}"
        env:
          GH_TOKEN: ${{ github.token }}
